* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: flex;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: black;
}
@media(max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        text-align: center;
        transition: 0.3s
    }
    .nav-menu .active {
        left: 0;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 1.5rem;
    align-items: center;
}
.header ul {
    display: flex;
    list-style-type: none;
    gap: 8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 16px;
}
.header .logo {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 25px;
}
.banner {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: -1;
}
.banner .glass-wrapper {
    width: 100%;
    height: 4rem;
    background: rgba( 155, 155, 155, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.front {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    margin: 0px auto;
    order: 1;
    width: 40%;
    padding-top: 13rem;
    display: flex;
    flex-direction: row-reverse;
}
.dp {
    height: 20rem;
    width: 20rem;
    background-size: cover !important;
    border-radius: 50%;
    float: right;
    padding: 20px;
}

.hero-title {
    order: 2;
    width: 60%;
    padding-top: 13rem;
    padding-left: 5rem;
}
.hero-title p {
    font-size: 47px;
    line-height: 60px;
}
.hero-title .name {
    font-size: 50px;
    letter-spacing: 3px;
}
.hero-title .position {
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hero-title .details {
    width: 55%;
    padding-top: 1.5rem;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 2.5rem;
    font-style: italic;
}
.hero-title .explore button {
    background: black;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: none;
    color: white;
    padding: 12px 15px;
    border-radius: 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.hero-title .explore button:hover {
    background: white;
    color: black;
}

.card-experiences-container, .techstack-container {
    margin-top: 25rem;
}
.card-experiences-container p, .techstack-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
}
.cards {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 10rem;
}
.card {
    width: 250px;
    height: 500px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    margin-right: 50px;  
}
.card:last-child {
    margin-right: 0px;
}
.card .image-card {
    padding: 50px;
}
.card img {
    width: 100%;
    height: auto;   
}
.card-content {
    padding: 10px;
    background-color:(255,255,255,0.8);
    position: absolute;
}
.card-content h3 {
    font-size: 24px;
    color: #333;
}
.card-content p {
    font-size: 8px;
    color: #666;
    margin: 5px 0px;
    justify-content: left;
}
.card-content .position {
    margin-top: 20px;
    color: #111111;
    margin-bottom: 20px;
    font-weight: 500;
}
.card-content .position p {
    color: #666;
    padding-bottom: 20px;
}
.card-footer-infor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: red;
}
.card-footer-ibm {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #000000;
}
.card-footer-csi {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: blue;
}
.cards-techstack {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 10rem;
}
.card-techstack {
    width: 250px;
    max-height: 250px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    margin-right: 50px;  
}
.card-techstack img {
    width: 100%;
    height: auto;   
}
.card-techstack .image-card {
    padding: 50px;
}
footer {
    width: 100%;
    background: #333333;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height:auto;
    font-family: "Open Sans";
    padding-top: 50px;
    color: white;
}

footer .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    padding-top: 50px;
}
.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: 2.5px solid #4d4d4d;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.socials li {
    /* margin: 0 10px */
    align-items: center;
    justify-content: center;
}

.icon:hover {
    outline-offset: 4px;
}
.icon i {
    margin: auto;
    color: black;
}
.icon:hover i {
    animation: shake 0.25s;
}
@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}
.footer-bottom {
    background-color: #333333;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/*media query for mobile*/

@media(max-width: 768px) {
    .banner {
        background: white;
    }
    .header {
        display: flex;
        margin-bottom: 50px;
    }
    .header .logo {
        display: block;
        right: 0;
    }
    .header ul {
        display: none;
    }
    .front {
        display: block;
    }
    .dp {
        display: flex;
        background-size: cover !important;
        border-radius: 50%;
        margin: 0px auto;
        padding: 0px;
    }
    .profile {
        display: flex;
        width: 100%;
        padding-top: 0;
    }
    .hero-title {
        margin: 0px auto;
        padding-top: 0;
        padding: 0;
        width: 100%;
        
    }
    .hero-title p {
        font-weight: 400;
    }
    .hero-title .name {
        font-size: 25px;
        letter-spacing: 1px;
        text-align: center;
    }
    .hero-title .position {
        font-size: 15px;
        text-align: center;
    }
    .hero-title .details {
        width: 100%;
        text-align: center;
        font-weight: 100;
        padding-bottom: 0.5rem;
    }
    .hero-title .explore {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    .hero-title .explore button {
        background: black;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: none;
        color: white;
        border-radius: 50px;
        width: 100%;
        min-height: 70px;
        cursor: pointer;
    }
    .card-experiences-container {
        margin-top: 5rem;
    }
    .work-exp-title, .technologies-title {
        margin-bottom: 3rem;
        font-weight: 700;
    }
    .card-experiences-container p, .techstack-container p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .cards {
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        margin-top: 0;
    }
    .card {
        min-height: 500px;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        padding: 20px;
        margin-right: 0px;
        margin-bottom: 100px;
    }
    .card:last-child {
        margin: 0;
    }
    .card .image-card {
        padding: 50px;
    }
    .card img {
        width: 100%;
        height: auto;   
    }
    .card-content {
        padding: 10px;
        background-color:(255,255,255,0.8);
        position: absolute;
    }
    .card-content h3 {
        font-size: 24px;
        color: #333;
    }
    .card-content p {
        font-size: 8px;
        color: #666;
        margin: 5px 0px;
        justify-content: left;
    }
    .card-content .position {
        margin-top: 20px;
        color: #111111;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .card-content .position p {
        color: #666;
        padding-bottom: 20px;
    }
    .card-footer-infor {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: red;
    }
    .card-footer-ibm {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #000000;
    }
    .card-footer-csi {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: blue;
    }
    footer {
        display: none;
    }
    .socials {
        justify-content: center;
    }
}